//- footer.footer.mt-auto.py-3.bg-dark
//-     .container
//-         .onepartone 
//-             a(href="/") covidTracker 
//-             .track
//-                 img.mx-2(src='/image1/corona icon.png' width='30')

//-             h6 We stand with everyone fighting on the frontlines
